* {
    font-size: 100%;
    box-sizing: border-box;
}

body {
   
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height: 100vh;
}

.calculator {
    width: 100%;
    max-width: 22rem;
    background-color: #3d4543;
    padding: 0.2rem;
    border-radius: 0.5rem;
}


/* Display */

.display {
    min-height: 6.3rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 1rem 1rem;
    margin: 2rem 1rem;
    background-color: rgb(215, 202, 202);
    opacity: 0.9;
}

.display-input {
    min-height: 2rem;
    font-size: 1.1rem;
    font-weight: 200;
    /* color: var(--color-gray); */
}

.display-output {
    font-size: 2rem;
    font-weight: 400;
    word-break: break-all;
    transition: font-size 300ms ease-in-out;
}


/* Button */

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 4rem);
    gap: 0.1rem;
}

button {
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.8;
    width: 4rem;
    height: 3rem;
    border: none;
    border-bottom: black 3px solid;
    margin: 0.1rem 0.6rem;
}

button.number {
    background-color: rgb(155, 151, 151);
}

button.number:hover {
    background-color: rgb(97, 95, 95);
}

button.number:active {
    opacity: 0.8;
}

.operator,
.clear-button {
    background-color: black;
    color: white;
}

.equals {
    background-color: rgb(212, 208, 208);
}

.op:hover {
    opacity: 0.9;
}

.op:active {
    opacity: 0.8;
}